/data/redis/*
/data/mysql/*
/data/mongo/*
/logs/nginx/*
/logs/php/*
/www/*
!/www/localhost/index.php
/config/nginx/conf.d/oc.conf
/config/nginx/conf.d/shc.conf
/config/nginx/conf.d/kfc.conf
/config/nginx/conf.d/admin.conf
/config/nginx/conf.d/wms.conf
